[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = https://github.com/bsisco/.vim.git
[submodule "tmux/tmux-colors-solarized.symlink"]
	path = tmux/tmux-colors-solarized.symlink
	url = https://github.com/seebi/tmux-colors-solarized.git
